<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    
    <!-- Include custom head partials -->
    <%- include('./partials/head') %>
</head>
<body>
    <!-- Include custom navbar -->
    <%- include('./partials/navbar') %> 
    
    <div class="container mt-3">
        <% blogs.forEach(blog => { %>
            <div class="card" style="width: 400px;">
                <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="Blog Cover Image">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">View more</a>
                </div>
            </div>
        <% }) %> <!-- Close the forEach loop properly -->
    </div>

    

    <!-- Include custom scripts -->
    <%- include('./partials/script') %>
</body>
</html>
